.dialogs {
    margin: 50px 50px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}
/* .nameuser{

} */
.dialogItem a{
    text-decoration: none;
    color: gray;
}
/* .userMessages{

} */
.selected {
    color:  green !important;
}